{% extends "base.html.twig" %}

{% block body_class %}admin{% endblock %}

{% block main %}

    <header class="section-title page">
        <h2 class="page-title">My Cart</h2>
        <div class="flex-coffee-under">
            <div class="hr-line"></div>
            <div class="icon"><i class="fas fa-coffee"></i></div>
            <div class="hr-line"></div>
        </div>
    </header>
    {% if cart|length > 0 %}
        <table style="width: 100%;">
            <thead>
            <tr>
                <th>No:</th>
                <th>Product</th>
                <th>Remove</th>
                <th class="text-right">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for product in cart %}
                <tr class="{{ product.quantity == 0 ? "out-of-stock" : "" }}">
                    <td><img style="width: 10rem" class="cart-image" src="/{{ product.image }}" alt="Image"></td>
                    <td>
                        {{ product.name }}
                        <p class="text-muted">In stock: {{ product.quantity }}</p>
                        <p>
                            <span
                                    class=""><strong>{{ product.quantity == 0 ? "Out of stock!" : "" }}</strong></span>
                        </p>
                    </td>
                    <td>
                        <form method="post" action="{{ path("remove_product_cart", {"id": product.id}) }}">
                            <button type="submit" class="main-button">X</button>
                        </form>
                    </td>
                    <td class="text-right"><strong>€{{ product.price }}</strong></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">
                    Total: <strong>€{{ total }}</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path("finish_cart") }}" class="main-button">Finish</a>
        </div>
    {% else %}
        <p style="text-align: center">No products in your cart.</p>
    {% endif %}
{% endblock %}