{% extends 'base.html.twig' %}
{% block body_class %}admin{% endblock %}
{% block main %}

    <div class="container">
        {{ form_start(form, { 'attr': {'class': 'main-form'}}) }}
        <fieldset>
            <legend>Add New Product</legend>
            {{ form_row(form.name, { 'attr': {'placeholder': 'Product Name'}}) }}
            {{ form_row(form.category, { 'attr': {'placeholder': 'Category'}}) }}
            {{ form_row(form.price, { 'attr': {'placeholder': 'Price in euro'}}) }}
            {{ form_row(form.description, { 'attr': {'placeholder': 'Description'}}) }}
            {{ form_row(form.quantity, { 'attr': {'placeholder': 'Quantity'}}) }}
            {{ form_row(form.image, { 'attr': {'placeholder': 'Image'}}) }}
            <div class="button-container">
                <a class="main-button" href="{{ path('all_products') }}">Cancel</a>
                <button type="submit" class="main-button">Add product</button>
            </div>
            {{ form_row(form._token) }}
        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}

