{% extends "base.html.twig" %}

{% block main %}
    <header class="section-title page">
        <h2 class="page-title">All Products and Options</h2>
        <div class="flex-coffee-under">
            <div class="hr-line"></div>
            <div class="icon"><i class="fas fa-coffee"></i></div>
            <div class="hr-line"></div>
        </div>
    </header>
    <div>
        <a href="{{ path("product_create") }}" class="main-button">Add new product</a>
    </div>
    <hr>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price in EUR</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Date Added</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description}}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.addedOn | date }}</td>
                <td><a href="{{ path('edit_product', { 'id': product.id }) }}" class="main-button">Edit</a> | <a href="{{ path('delete_product', { 'id': product.id }) }}" class="main-button">Delete</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block body_class %}admin{% endblock %}