{% extends 'base.html.twig' %}

{% block main %}

    {{ form_start(form, { 'attr': {'class': 'main-form'}}) }}
    <fieldset>
        <legend>Add New Product</legend>
        {{ form_row(form.name, { 'attr': {'placeholder': 'Product Name', 'disabled':'disabled'}}) }}
        {{ form_row(form.category, { 'attr': {'placeholder': 'Category', 'disabled':'disabled'}}) }}
        {{ form_row(form.price, { 'attr': {'placeholder': 'Price in euro', 'disabled':'disabled'}}) }}
        {{ form_row(form.description, { 'attr': {'placeholder': 'Description', 'disabled':'disabled'}}) }}
        {{ form_row(form.quantity, { 'attr': {'placeholder': 'Quantity', 'disabled':'disabled'}}) }}
        {{ form_row(form.image, { 'attr': {'placeholder': 'Image', 'disabled':'disabled'}}) }}
        Are you sure?
        <div class="button-container">
            <a class="main-button" href="{{ path('all_products') }}">Cancel</a>
            <button type="submit" class="main-button">Delete</button>
        </div>

        {{ form_row(form._token) }}
    </fieldset>
    {{ form_end(form) }}




{% endblock %}

{% block body_class %}
    admin
{% endblock %}

