{% extends 'base.html.twig' %}

{% block main %}
    <header class="section-title page">
        <h2 class="page-title">Edit Product</h2>
        <div class="flex-coffee-under">
            <div class="hr-line"></div>
            <div class="icon"><i class="fas fa-coffee"></i></div>
            <div class="hr-line"></div>
        </div>
    </header>
    {{ form_start(form, { 'attr': {'class': 'main-form'}}) }}
    <fieldset>
        {{ form_row(form.name, { 'attr': {'placeholder': 'Product Name'}}) }}
        {{ form_row(form.category, { 'attr': {'placeholder': 'Category'}}) }}
        {{ form_row(form.price, { 'attr': {'placeholder': 'Price in euro'}}) }}
        {{ form_row(form.description, { 'attr': {'placeholder': 'Description'}}) }}
        {{ form_row(form.quantity, { 'attr': {'placeholder': 'Quantity'}}) }}
        {{ form_row(form.image, { 'attr': {'placeholder': 'Image'}}) }}

        <div class="button-container">
            <a class="main-button" href="{{ path('all_products') }}">Cancel</a>
            <button type="submit" class="main-button">Update</button>
        </div>


        {{ form_row(form._token) }}
    </fieldset>
    {{ form_end(form) }}
{% endblock %}

{% block body_class %}
admin
{% endblock %}

