{% extends 'base.html.twig' %}

{% block body_class %}admin{% endblock %}

{% block main %}
    <header class="section-title page">
        <h2 class="page-title">All Orders</h2>
        <div class="flex-coffee-under">
            <div class="hr-line"></div>
            <div class="icon"><i class="fas fa-coffee"></i></div>
            <div class="hr-line"></div>
        </div>
    </header>
    {% if orders|length > 0 %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(orders, 'Date', 'products_order.date') }}</th>
                <th>User</th>
                <th>{{ knp_pagination_sortable(orders, 'Total', 'products_order.total') }}</th>
                <th>Products</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.date|date }}</td>
                    <td>{{ order.user.fullName }}</td>
                    <td>€{{ order.total|number_format(2) }}</td>
                    <td>{{ order.products|join(", ") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(orders) }}
        </div>
    {% else %}
        <p>No orders yet.</p>
    {% endif %}
{% endblock %}