{% extends 'base.html.twig' %}

{% block main_title %}Edit user{% endblock %}

{% block main %}
    {{ form_start(form, { 'attr': {'class': 'main-form'}}) }}

    {{ form_row(form.email) }}
    {{ form_row(form.fullName) }}
    {{ form_row(form.roles) }}
    <hr>
    {{ form_row(form.plainPassword.first, {
        label: "New Password"
    }) }}
    {{ form_row(form.plainPassword.second, {
        label: "New Password Repeated"
    }) }}

    <button class="main-button" formnovalidate>Edit
    </button>

    {{ form_end(form) }}
{% endblock %}
{% block body_class %}admin{% endblock %}