{% extends 'base.html.twig' %}

{% block body_class %}admin{% endblock %}

{% block main %}
    <header class="section-title page">
        <h2 class="page-title">Edit user</h2>
        <div class="flex-coffee-under">
            <div class="hr-line"></div>
            <div class="icon"><i class="fas fa-coffee"></i></div>
            <div class="hr-line"></div>
        </div>
    </header>
    {{ form_start(form, { 'attr': {'class': 'main-form'}}) }}

    {{ form_row(form.email) }}
    {{ form_row(form.fullName) }}
    {{ form_row(form.roles) }}
    <hr>
    {{ form_row(form.plainPassword.first, {
        label: "New Password"
    }) }}
    {{ form_row(form.plainPassword.second, {
        label: "New Password Repeated"
    }) }}

    <button class="main-button" formnovalidate>Edit
    </button>

    {{ form_end(form) }}
{% endblock %}
