{% extends 'base.html.twig' %}

{% block main %}
    {#{% include "_categories_menu.html.twig" %}#}
    <section class="coffee-machines">
        <header class="section-title page">
            <h2 class="page-title">All Products</h2>
            <div class="flex-coffee-under">
                <div class="hr-line"></div>
                <div class="icon"><i class="fas fa-coffee"></i></div>
                <div class="hr-line"></div>
            </div>
        </header>

        <nav class="main" id="main-navigation">
            <ul>
                <li><a href="{{ path("products_by_category", {"category": "Coffee Machine"}) }}">Coffee Machine</a></li>
                <li><a href="{{ path("products_by_category", {"category": "Coffee Beans"}) }}">Coffee Beans</a></li>
            </ul>
        </nav>
        <div class="pagination">
            {{ knp_pagination_render(products) }}
        </div>

        <div class="machines flex">
            {% for product in products %}
            <article class="card">
                <div class="wrapper-img">
                    <a target="_blank" href="">
                        <img src="{{ product.image }}" alt="Cinque Terre">
                    </a>
                </div>
                <div class="desc">
                    <h3>{{ product.name }}</h3>
                    <p>Price: {{ product.price }} euro</p>
                    <a href="{{ path('view_product', {'id': product.id}) }}" class="main-button">View more</a>
                </div>

            </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block body_class %}

{% endblock %}

