{% extends 'base.html.twig' %}
{% block body_class %}register{% endblock %}
{% block main %}
    {{ form_start(form, { 'attr': {'class': 'main-form'}}) }}
    <fieldset>
    <legend>Register</legend>
    {{ form_row(form.email, { 'attr': {'placeholder': 'Your Email Adress'}}) }}
    {{ form_row(form.fullName, { 'attr': {'placeholder': 'Your Full Name'}}) }}
    {{ form_row(form.plainPassword.first, { 'attr': {'placeholder': 'Password'}}) }}
    {{ form_row(form.plainPassword.second, { 'attr': {'placeholder': 'Repeat Password'}}) }}

    <button type="submit" class="main-button">Register!</button>
    <fieldset>
    {{ form_end(form) }}
{% endblock %}